/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 19, 2022, 11:18:18 AM
    Author     : PC
*/
.active-btn{
    background-color: aqua;
}
.active-btn:hover{
    background-color: aquamarine;
}
.btn-empty{
    background-image: none;
    background-color: #000000;
}
